<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        }
    </style>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
</head>
<body>
  
  <div><span class="dot" style="background-color: blue;"></span> Destinations </div>
  
  <div><span class="dot" style="background-color: red;"></span> Your position </div>
  <br>
  <div>After select the destinations please press esc to start guiding!</div>
  <br>
  <div id="map0"></div>
  <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  <script>
    if(window.screen.width > 600){
        var width = window.screen.width/2 - 40
    }else{
        var width = window.screen.width
    }
	var height = parseInt(width * 1.544);
    var i = 0;
    var areaName;
    var tagInterval;
    var pathInterval;
    function findTag(source, tagInfo) {
        var x = source.data.x;
        var y = source.data.y;
        var name = source.data.name;
        var user_x=tagInfo[0];
        var user_y=tagInfo[1];
        min_index=0;
        min_dist=(user_x - x[0])*(user_x - x[0])+(user_y - y[0])*(user_y - y[0]);
        cmp=0;
        for (var k=0;k<x.length;k++) {
            if (source.data.name[k] !== "initialPoint") {
                cmp = (user_x - x[k])*(user_x - x[k])+(user_y - y[k])*(user_y - y[k]);
                if (cmp< min_dist) {
                    min_dist=cmp
                    min_index=k
                }
            }
        };
        return name[min_index];
    }
    function tagPosition(intialAnchor, scale, tagData) {
        // scale is cor/m meaning how many corrdinates will be one meter
        xMeter = tagData["x"];
        yMeter = tagData["y"];
        xCor = scale * xMeter;
        yCor = scale * yMeter;
        finalXCor = intialAnchor[0] - xCor;
        finalYCor = intialAnchor[1] - yCor;
        return [finalXCor, finalYCor];
    }
    async function fetch_plot(count, width, height){
        document.getElementById("map" + count).remove();
        var elemDiv = document.createElement('div');
        count = count + 1;
        elemDiv.id = "map" + count;
        document.body.appendChild(elemDiv);
		const response = await fetch('/api-Map-w='+width+'&h='+height);
		var item = await response.json();
        Bokeh.embed.embed_item(item, "map" + count);
	}
    async function fetch_path(count, startPoint, endPoint, width, height){
        const response = await fetch('/api-Path-s='+startPoint+'&e='+endPoint+'&w='+width+'&h='+height);
        var data = await response.json();
        return data;
    }
    fetch_plot(i, width, height);
    i=i+1;

    var intialAnchor = [84,127];
    var tagData = {};
    var tagInfo = [];
    const scale =  5.114;
    var mqttBroker = "ws://172.20.10.14:15675"
    var client = mqtt.connect(mqttBroker);
    client.on("connect", function(topic, payload) {
        console.log("connected");
    })
    // dwm/node/0125/uplink/location
    client.subscribe("dwm/node/0125/uplink/location");
    client.on("message", function (topic, message) {
        tagJson = JSON.parse(message.toString()).position;
        tagInfo = tagPosition(intialAnchor, scale, tagJson);
        // console.log(tagInfo);
    });
  </script>
</body>